name: parceler-production
services:
  php:
    image: ghcr.io/nethesis/parceler-php:latest
    volumes:
      - storage:/var/www/html/storage
      - /etc/localtime:/etc/localtime:ro
    env_file:
      - .env
  nginx:
    image: ghcr.io/nethesis/parceler-nginx:latest
    ports:
      - "8080:80"
    volumes:
      - /etc/localtime:/etc/localtime:ro
    environment:
      FPM_HOST: php
      FPM_PORT: 9000
  worker:
    image: ghcr.io/nethesis/parceler-php:latest
    volumes:
      - storage:/var/www/html/storage
      - /etc/localtime:/etc/localtime:ro
    env_file:
      - .env
    stop_signal: SIGKILL
    command: worker
    environment:
      PHP_HOST: php
      PHP_PORT: 9000
  scheduler:
    image: ghcr.io/nethesis/parceler-php:latest
    volumes:
      - storage:/var/www/html/storage
      - /etc/localtime:/etc/localtime:ro
    env_file:
      - .env
    stop_signal: SIGKILL
    command: scheduler
    environment:
      PHP_HOST: php
      PHP_PORT: 9000
  nightwatch-agent:
    image: ghcr.io/nethesis/parceler-php:latest
    volumes:
      - storage:/var/www/html/storage
      - /etc/localtime:/etc/localtime:ro
    env_file:
      - .env
    stop_signal: SIGKILL
    command: nightwatch
    environment:
      PHP_HOST: php
      PHP_PORT: 9000
    healthcheck:
      test: php artisan nightwatch:status
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 5s
  redis:
    image: redis:8.6.0-alpine

volumes:
  storage: { }
