[Container]
Pod=parceler.pod
Image=ghcr.io/nethesis/parceler-php:latest
ContainerName=parceler-worker
Volume=/etc/localtime:/etc/localtime:ro
Volume=storage.volume:/var/www/html
Exec=worker
EnvironmentFile=%S/parceler.env
