name: Test

on:
  push:
    branches:
      - renovate/**
  workflow_call:

permissions:
  contents: read
  packages: write

jobs:
  run:
    name: Run
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - run: docker compose run --rm --build testing
